.login {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    padding-top: 4rem;
    background-color: var(--main-bg);
}

.login {
    form {
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 10px;
        height: auto;
        width: auto;
        border-radius: 0.2rem;
        background-color: var(--div-bg);
        color: var(--text-color);
        display: grid;
        gap: 2rem;
        padding: 1.5rem;
        text-align: center;

        p {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    form {
        .inputBox {
            display: flex;
            position: relative;
            width: 100%;
            height: 2.5rem;
        }

        #eyeball {
            height: 2.5rem;
            justify-content: center;
            align-items: center;
            display: flex;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 2rem;
            border-right: 1px solid var(--text-color);
            border-top: 1px solid var(--text-color);
            border-bottom: 1px solid var(--text-color);
            cursor: pointer;
        }

        #password {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .inputBox input {
            width: 100%;
            padding: 10px;
            border: 1px solid var(--text-color);
            border-radius: 5px;
            background: transparent;
            outline: none;
            color: var(--text-color);
            font-size: 1rem;
        }

        .inputBox label {
            position: absolute;
            left: 0;
            padding: 10px;
            pointer-events: none;
            font-size: 1rem;
            color: var(--text-color);
            transition: 0.5s;
        }

        .inputBox input:valid~label,
        .inputBox input:focus~label {
            color: var(--text-color);
            transform: translateX(10px) translateY(-7px);
            font-size: 0.9rem;
            padding: 0 10px;
            backdrop-filter: blur(100px);
        }

        .inputBox:valid,
        .inputBox input:focus {
            border: 1px solid var(--purple-color);
        }
    }

    form {
        .link {
            color: var(--text-color);
        }

        .btn-login {
            display: flex;
            justify-content: center;

            button {
                height: 2.5rem;
                width: 100%;
                background-color: var(--purple-color);
                color: #fff;
                border-radius: 0.3rem;
                transition: 0.3s;
                font-size: 1.2rem;
                box-shadow: inset 0 0 0 0 #4d24c1;
                transition: ease-in-out 0.3s;
                outline: none;
                border: none;
                cursor: pointer;
            }

            button:hover {
                box-shadow: inset 20rem 0 0 0 #4d24c1;
            }
        }
    }
}

.forgot-password {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    background-color: var(--main-bg);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.forgot-password {
    form {
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 10px;
        height: 12rem;
        width: auto;
        border-radius: 0.2rem;
        background-color: var(--div-bg);
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        text-align: center;

        p {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .inputBox {
            width: 100%;
            height: 2.5rem;

            input {
                height: 2rem;
                width: 100%;
                padding: 10px;
                border: 1px solid var(--text-color);
                border-radius: 5px;
                background: transparent;
                outline: none;
                color: var(--text-color);
                font-size: 1rem;
            }
        }

        .reset-btn {
            button {
                height: 2rem;
                width: 8rem;
                background-color: var(--purple-color);
                color: #fff;
                border-radius: 0.3rem;
                transition: 0.3s;
                font-size: 1rem;
                border: none;
                outline: none;
                cursor: pointer;
            }

            button:hover {
                background-color: transparent;
                border: 1px solid var(--purple-color);
                color: black;
            }
        }

        .link {
            color: var(--text-color);
        }
    }
}

.signup {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
    color: var(--text-color);
}

.signup {
    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 10px;
        height: 26rem;
        width: auto;
        border-radius: 0.2rem;
        background-color: var(--div-bg);
        color: var(--text-color);
        gap: 1rem;
        padding: 1.5rem;
    }

    form {
        p {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .signup-box {
            display: flex;
            gap: 2rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .inputBox {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 2.5rem;
                }

                #eyeball {
                    height: 2.5rem;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    width: 2rem;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                }

                .inputBox input,
                select {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid var(--text-color);
                    border-radius: 5px;
                    background: transparent;
                    outline: none;
                    color: var(--text-color);
                    font-size: 1rem;
                }

                .inputBox label {
                    position: absolute;
                    left: 0;
                    padding: 10px;
                    pointer-events: none;
                    font-size: 1rem;
                    color: var(--text-color);
                    transition: 0.5s;
                }

                .inputBox input:valid~label,
                .inputBox input:focus~label {
                    color: var(--text-color);
                    transform: translateX(10px) translateY(-7px);
                    font-size: 0.9rem;
                    padding: 0 10px;
                    backdrop-filter: blur(100px);
                }

                .inputBox:valid,
                .inputBox input:focus {
                    border: 1px solid var(--purple-color);
                }
            }
        }

        .signup-btn {
            button {
                height: 2rem;
                width: 8rem;
                background-color: var(--purple-color);
                color: #fff;
                border-radius: 0.3rem;
                transition: 0.3s;
                font-size: 1rem;
                border: none;
                outline: none;
                cursor: pointer;
            }

            button:hover {
                background-color: transparent;
                border: 1px solid var(--purple-color);
            }
        }
    }
}

.reset-password {

    margin-top: 10rem
}